@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-white font-roboto
    }

    .layout {
        @apply px-4 xs:px-4 sm:px-8 lg:px-16 2xl:px-20;
    }

    [x-cloak] { display: none !important; }

    .btn-header {
        @apply text-login flex h-16 w-40 items-center justify-center bg-button-yellow;
    }

    .text-login {
        color: #FFF;
        font-size: 24px;
        font-weight: 800;
        -webkit-text-stroke: 1px #3696DB;
	    -webkit-text-fill-color: white;
    }
    
    .field-input {
        @apply mx-auto block h-16 w-9/12 rounded-lg border border-gray-300 bg-gray-700 p-2.5 font-lexend text-lg font-normal leading-5 text-white placeholder:text-white focus:border-gray-700 focus:ring-gray-700;
    }

    .field-input-blue {
        @apply rounded-md border-blue-200 bg-blue-200 p-3 text-lg text-white placeholder:text-white focus:outline-none;
    }

    .field-input-indigo {
        @apply rounded-md border-indigo-200 bg-indigo-700 px-3 py-2 text-lg text-white placeholder:text-white focus:outline-none;
    }

    .field-input-gray {
        @apply rounded-md border-gray-200 bg-gray-400/60 px-3 py-2 text-lg text-white placeholder:text-white focus:outline-none;
    }

    .invalid-feedback {
        @apply mx-auto w-9/12 text-sm font-medium tracking-wide text-red-500 font-lexend;
    }

    .btn-auth {
        @apply mx-auto h-16 w-9/12 rounded-lg bg-green-400 font-lexend text-lg font-medium text-white hover:bg-green-500;
    }

    #table-mapping th:first-child {
        border-radius: 24px 0 0 24px;
    }

    #table-mapping th:last-child {
        border-radius: 0 24px 24px 0;
    }
}